{% extends "school/base.html" %} 

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <h3 class="text-center alert-primary alert">Filter Record Like This</h3>
            {% if students %}
                  <table class="table table-hover">
                      <thead>
                          <tr>
                            <th scope="col">#ID.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Fees</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for student in students %}
                          <tr>
                              <td>{{ student.id }}</td>
                              <td>{{ student.name }}</td>
                              <td>{{ student.age }}</td>
                              <td>{{ student.fees }}</td>
                          </tr>
                {% endfor %}
                      </tbody>
                  </table>
            {% else %}
                <h4 class="alert alert-danger text-center">No Records</h4>
            {% endif %}
        </div>
    </div>
{% endblock content %}
