{% extends 'school/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h4 class="text-center alert alert-primary">Edit Student Here</h4>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">{{message}}</div>
                {% endfor %}
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}}
                    {{fm}}
                    {{fm.errors|striptags}}
                {% endfor %}
                <input class="btn btn-primary mt-3" type="submit" value="Save">
                <a class="btn btn-info mt-3 ml-3" href="{% url 'student' %}">Back To Student</a>
            </form>
        </div>
    </div>
{% endblock content %}
